body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  min-height: 100vh;

  display: grid;
  gap: 1rem;
  grid-template-areas:  
    "title title" 
    "ctrl topcontent" 
    "ctrl content" 
    "ctrl content";
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 9fr;
}

.handle {
  border: solid red 2px;
  background-color: black;
  color:white;
  
  width: 20px;
  height: 20px;
  padding: 2rem;
  margin: 0;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
}

.interactive {
  border: solid black 2px;
  height: 100%;
  overflow: hidden;
}