.gallery{
    display: flex;
}
.down{
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.side{
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.snap {
    scroll-snap-align: center;
    height: 100vh;
}

/* .slide {
    background-color: pink;
    border: solid red 1px;
} */