body {
  font-family: sans-serif;
}

.handle {
  border: solid red 2px;
  background-color: black;
  color:white;
  
  width: 20px;
  height: 20px;
  padding: 2rem;
  margin: 0;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
}

.cont {
  border: solid black 2px;
  height: 100vh;
  overflow: hidden;
}