* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  max-height: 100vh;

  display: grid;
  gap: 1rem;
  grid-template-areas:  
    "title title" 
    "ctrl topcontent" 
    "ctrl content" 
    "region content";
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 9fr;
}

section {
  background-color: aliceblue;
  border: solid lightgray 1px;
  border-radius: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border-color: transparent;
  background-color:deepskyblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.Title {
  text-align: center;
}

.handle {
  border: solid red 2px;
  background-color: black;
  color:white;
  
  width: 20px;
  height: 20px;
  padding: 2rem;
  margin: 0;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
}

.interactive {
  max-height: 100%;
  overflow: scroll;
}

.interactive > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: lightpink;
  border: solid white 2px;
  border-radius: 1rem;
}
.interactive > * h1 {
  font-size: 3rem;
  margin-block: auto;
}
.interactive .scrollTrigger {
  background-color: lightcoral;
  margin-bottom: auto;
}
.interactive > *:nth-child(2){
  color: black;
  background-color: lightgoldenrodyellow;
}
.interactive > *:nth-child(3){
  color: black;
  background-color: lightgreen;
}
.controls{
  display: flex;
  flex-direction: column;
}