* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  min-height: 100vh;

  display: grid;
  gap: 1rem;
  grid-template-areas:  
    "title title" 
    "ctrl topcontent" 
    "ctrl content" 
    "region content";
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 9fr;
}

section {
  background-color: aliceblue;
  border: solid lightgray 1px;
  border-radius: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border-color: transparent;
  background-color:deepskyblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.Title {
  text-align: center;
}

.handle {
  border: solid red 2px;
  background-color: black;
  color:white;
  
  width: 20px;
  height: 20px;
  padding: 2rem;
  margin: 0;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
}

.interactive {
  overflow: hidden;
}

.controls{
  display: flex;
  flex-direction: column;
}