* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  max-height: 100vh;

  display: grid;
  gap: 1rem;
  grid-template-areas:  
    "title title" 
    "ctrl topcontent" 
    "ctrl content" 
    "region content";
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr 9fr;
}

/* body {
  background: black;
}
body > h1 {
  color: white;
} */

section {
  background-color: aliceblue;
  border: solid lightgray 1px;
  border-radius: 1rem;
  padding: 1rem;
}

button {
  color: white;
  border-color: transparent;
  background-color:deepskyblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.Title {
  text-align: center;
}

.handle {
  border: solid red 2px;
  background-color: black;
  color:white;
  
  width: 20px;
  height: 20px;
  padding: 2rem;
  margin: 0;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
}

.interactive {
  max-height: 100%;
  overflow: scroll;
}

.interactive > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: lightpink;
  border: solid white 2px;
  border-radius: 1rem;
}
.interactive > * h1 {
  font-size: 3rem;
  margin-block: auto;
}
.interactive .scrollTrigger {
  background-color: lightcoral;
  margin-bottom: auto;
}
.interactive > *:nth-child(2){
  color: black;
  background-color: lightgoldenrodyellow;
}
.interactive > *:nth-child(3){
  color: black;
  background-color: lightgreen;
}
.controls{
  display: flex;
  flex-direction: column;
}

.Intersect {
  background-color: red;
  color: white;
}


.Label {
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 0.9rem;
  padding-inline: 0.5rem;
  color: white;
}

.Label:nth-child(1n) {
  background-color: hsl(100, 70%, 25%);
}
.Label:nth-child(2n) {
  background-color: hsl(300, 70%, 25%);
}
.Label:nth-child(3n) {
  background-color: hsl(230, 70%, 25%);
}
.Label:nth-child(4n) {
  background-color: hsl(0, 70%, 25%);
}

.LiveStatus { 
  width: 50%;
  display: grid;
  gap: 0.25rem;
  grid-template: 
  "st st st" 
  "was pr now" 
  "time pr ntime"
  /1fr 1rem 1fr;
}
.LiveStatus::after {
  content: '>';
  place-self: center;
  grid-area: pr;
}

#state {
  grid-area: st;
}
#prequeue {
  grid-area: was;
}
#postqueue {
  grid-area: now;
}
#timeline {
  grid-area: time;
}
#ntimeline {
  grid-area: ntime;
}